@import './partials/variabels';
@import './partials/general';
header{
    background: url(/images/bg-mobile-dark.jpg) no-repeat;
    background-size:cover ;
    padding: 1rem;
}
// navigation
.nav{
    padding: 2rem;
    &__heading{
        color: white;

    }
    display: flex;
    justify-content: space-between;
}
// hero
 .hero{
     margin-top: 2rem;
     &__newTodo{
          width: 86% !important;
         input{
         background-color: transparent;
         border: 0;
         outline: none;
          padding-left: 6px;
          font-family: inherit;
        }
        input[type=text]{
          color:$Light-Grayish-Blue;
      }
    }
   
 }
//  circle before
 .circleBefore{
     position: relative;
     &::before{
         content: '';
         cursor: pointer;
         margin-bottom: 2px;
         display: inline-block;
         margin-inline: 7px 5px;
         height: 1.7rem;
         width: 1.7rem;
         border-radius: 50%;
         border: 1px solid $Very-Dark-Grayish-Blue;
         transition: border 1s ease;
     }
     &:hover::before{
         border: 1px solid #ccc;
     }
    //  after
   
 }
// main
main{
    background-color: $Very-Dark-Blue;
     height: 30vh;
    
}
// general styles for every new container
.col{
    width: 80%;
    margin-inline: auto;
    border-radius: 10px;
    background-color:$Very-Dark-Desaturated-Blue;
    display: flex;
    border-radius: 6px;
    padding: 16px;
    font-size: 12px;
  
}
.col--sb{
    justify-content: space-between;
}
.col-added{
    border-bottom: 1px solid $Light-Grayish-Blue;
    border-radius: 0;
    &::after{
        content:url(/images/icon-cross.svg);
        cursor: pointer;
        position: absolute;
        right: 1rem;
        transition: opacity 1s ease;
        margin-top: 0.4rem;
        opacity: 0;
    }    
}
.showCheck::after{
    opacity: 1;
}
p{
  color:  $Light-Grayish-Blue;
}
ul{
    li p{
        padding-top: 0.5rem !important;
        margin-left: 5px;
    }
}