@import './partials/variabels';
@import './partials/general';
header{
    background: url(/images/bg-mobile-dark.jpg) no-repeat;
    background-size:cover ;
    padding: 1rem;
    @include desktop{
        background: url(/images/bg-desktop-dark.jpg) no-repeat;

    }
}
.changeheaderBg{
    background: url(/images/bg-mobile-light.jpg) no-repeat;
    background-size:cover ;
    @include desktop{
        background: url(/images/bg-desktop-light.jpg) no-repeat;
    }
}
// navigation
.nav{
    padding: 2rem;
    &__heading{
        color: white;
        letter-spacing: 5px;
    }
    &__toggler{
        height: 1.8rem;
        cursor: pointer;
    }
    .hide{
        display: none;
    }
    display: flex;
    justify-content: space-between;
    @include desktop{
        justify-content: space-around;
    }
}
// hero
 .hero{
     margin-top: 2rem;
     &__newTodo{
         input{
         background-color: transparent;
         border: 0;
         outline: none;
          padding-left: 6px;
          font-family: inherit;
          font-size: 11px;
        }
        input[type=text]{
          color:$Light-Grayish-Blue;
      }
    }
   
 }
//  circle before
 .circleBefore{
     position: relative;
     &::before{
         content:'';
         cursor: pointer;
         margin-bottom: 2px;
         display: inline-block;
         margin-inline: 7px 5px;
         height: 1.7rem;
         width: 1.7rem;
         border-radius: 50%;
         border: 1px solid $Light-Grayish-Blue;
         transition: border 1s ease;
     }
     &:hover::before{
         border: 1px solid #ccc;
     }
    //  after
   
 }
// main
main{
    background-color: $Very-Dark-Blue;
      height: 90vh;
     padding-inline: 1rem;
    
}
// general styles for every new container
.col{
    width: 90%;
    margin-inline: auto;
    border-radius: 10px;
     background-color:$Very-Dark-Desaturated-Blue;
    display: flex;
    border-radius: 6px;
    padding: 16px;
    font-size: 12px;
  @include desktop{
      width: 50%;
  }
}
.col--sb{
    justify-content: space-between;
}
.col-added{
    border-bottom: 1px solid $Very-Dark-Grayish-Blue;
    border-radius: 0;
    position: relative;
    
}

p{
  color:  $Light-Grayish-Blue;
}
ul{
    li p{
        padding-top: 0.5rem !important;
        margin-left: 5px;
    }
}
.clearTodos{
    border-radius:  0 0 6px 6px;
}
// check
  .check{
          content:url(/images/icon-cross.svg);
          cursor: pointer;
          position: absolute;
          right: 1rem;
          transition: opacity 1s ease;
          margin-top: 0.4rem;
          opacity: 1;
      }   
 
    //   circle
.circle{
    content:'';
    cursor: pointer;
    position: relative;
    left:-0.5rem ;
    margin-bottom: 2px;
    display: inline-block;
      margin-inline: 7px 15px;
    height: 1.7rem;
    width: 1.7rem;
    position: relative;
    border-radius: 50%;
    border: 1px solid $Light-Grayish-Blue;
    transition: border 0.3s ease;
 
}
// change cirlce bg
.bg{
    background-image: url(/images/icon-check.svg),linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;

}
.taskRemove{
    text-decoration: line-through;
}
// fix position 
.fixPosition{
    position: absolute;
    left: 3rem;
}
.completed,.all,.active,.clear-completed{
    transition: color 0.6s ease;
    cursor: pointer;
    &:hover{
        color:hsl(210, 1%, 58%);
    }
}
.show{
    display: block;
}
.hide{
    display: none;
}

// Change color
.bgWhite{
    background-color: hsl(0, 0%, 98%);
}
.clsLight{
    background-color:hsl(0, 0%, 98%);
     border: 0.1px solid hsl(233,11%,84%);
     p{

         color: hsl(210, 1%, 58%);
     }
}
